@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

@font-face{
  font-family:Cyborg;
  src:local("Cyborg"), url(../robotic-cyborg/Robotic\ Cyborg.ttf) format("truetype");
}
@font-face{
  font-family:ExoSpace;
  src:local("ExoSpace"), url(../robotic-cyborg/Exo-Space-DEMO.ttf) format("truetype");
}

:root {
  --primary-color: #10e956;
  --black-color: #060810;
  --white-color: #fff;
}

/* common styling  */
html.scroll-lock {
  overflow: hidden;
}

.flex {
  display: flex;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

.heading {
  width: max-content;
  padding: 14px 30px;
  margin: 0 auto 40px ;
  border-radius: 12px;
  background: #12141d;
  color: #14e956;
  font-size: 22px;
  font-family: Cyborg;
  font-weight: 900;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  box-shadow: inset 0 0 4px 1px #14e956;
}

.heading.animation {
  animation: flipInY 2s ease forwards;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.header {
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--primary-color) ;
}

.header .wrapper {
  align-items: center;
  justify-content: space-between;
}

.hamburger,
.header .social-list {
  display: none;
}

.logo {
  padding: 8px 22px;
  border-radius: 10px;
  background-color: var(--black-color);
  color: var(--primary-color);
  font-size: 40px;
  font-family: 'Russo One', sans-serif;
}

.bar {
  width: 45px;
  height: 8px;
  margin: 5px 0;
  border-radius: 4px;
  display: block;
  background-color: var(--white-color);
  text-indent: -9999px;
  transition: all .3s ease-in-out;
}

.nav-item {
  margin: 10px 20px;
  border-bottom: 2px solid transparent;
  color: #f5f5f5;
  font-size: 25px;
  font-family: Cyborg;
  font-weight: 900;
  letter-spacing: 3px;
  text-decoration: none;
  text-shadow: 3px 3px 0 #14e956, -1px -1px 0 #14e956, 1px -1px 0 #14e956, -1px 1px 0 #14e956, 1px 1px 0 #14e956;
  transition: all .3s ease-in-out;
}

.nav-item.active {
  border-color: var(--white-color);
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* ----------------------------------------------------- home section start ----------------------------------------------------- */
.home {
  padding: 100px 0 25px;
  position: relative;
  background: url(../images/home-bg.svg) center no-repeat;
  background-size: cover;
}

.home::after {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

.hero-name {
  width: max-content;
  padding: 8px 16px;
  border-radius: 12px;
  margin-bottom: 20px;
  background: rgba(20,233,88,.157);
  color: #14e956;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
}

.move-hand {
  display: inline-block;
  text-indent: -9999px;
  animation: wobble 2.5s infinite;
}

.move-hand::before {
  content: "\f25b";
  margin-right: 10px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
}

.home .wrapper {
  position: relative;
  z-index: 1;
}

.hero-content {
  flex-basis: 60%;
}

.hero-content.animation {
  animation: fadeInLeft 2s ease forwards;
}

.hero-heading {
  margin-bottom: 30px;
  color: var(--white-color);
  font-size: 52px;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 60px;
  text-transform: capitalize;
}

.differ-font {
  color: var(--primary-color);
  font-family: 'Cyborg', sans-serif;
}

.hero-para {
  color: var(--white-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  opacity: .8;
}

.hero-photo.animation {
  animation: fadeInRight 2s ease forwards;
}
/* ----------------------------------------------------- home section end ----------------------------------------------------- */
/* ----------------------------------------------------- skills section end ----------------------------------------------------- */
.skills {
  padding: 50px 0 90px;
}

.skill-list {
  width: 65%;
  padding: 8px;
  border-radius: 15px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #0c8c34;
}

.skill-list.animation {
  animation: jackInTheBox 2s ease forwards;
}

.skill-item {
  height: 60px;
  padding: 5px;
  border-radius: 8px;
  flex: 0 1 22%;
  align-items: center;
  justify-content: space-evenly;
  background: #021709;
  display: flex;
  margin: 1%;
}

.skill-name {
  margin-left: 10px;
  font-weight: 700;
  text-transform: capitalize;
}

.skill-img {
  width: 30px;
  height: 30px;
}
/* ----------------------------------------------------- skills section end ----------------------------------------------------- */
/* ----------------------------------------------------- portfolio section end ----------------------------------------------------- */
.work {
  padding: 50px 0;
}

.work .wrapper {
  width: 100%;
  margin-top: 70px;
  position: relative;
}

.work-bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.work-bg img {
  filter: blur(7px);
  object-fit: contain;
}

.work-list {
  width: 52%;
  margin: 0 auto;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
}

.work-item {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0 0 18px 3px rgb(0 0 0 / 60%);
  overflow: hidden;
  color: var(--black-color);
  display: none;
}

.work-item.active {
  display: block;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: zoom 2s forwards;
}

.work-item figure {
  max-width: 700px;
  max-height: 400px;
  overflow: hidden;
}

.work-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work-para {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.work-content {
  padding: 20px;
  background-color: var(--white-color);
}

.work-name {
  margin-bottom: 10px;
  color: #14e956;
  font-family: 'Cyborg', sans-serif;
  font-size: 28px;
  font-weight: 900;
  text-shadow: 3px 3px 0 #1f2127, -1px -1px 0 #1f2127, 1px -1px 0 #1f2127, -1px 1px 0 #1f2127, 1px 1px 0 #1f2127;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.visit-btn {
  padding: 3px 14px;
  background: #fffff4;
  border: 2px solid #1e2128;
  border-radius: 15px;
  color: #1e2128;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.hand-icon {
  display: inline-block;
  text-indent: -9999px;
}

.hand-icon::before {
  content: "\f0a5";
  font-family: "FontAwesome";
  float: left;
  font-size: 65px;
  color: var(--primary-color);
  text-indent: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%) rotate(45deg);
  transition: all .3s ease-in-out;
}

.next-slide::before {
  content: "\f0a4";
  left: auto;
  right: 5%;
  transform: translateY(-50%) rotate(-45deg);
}

/* ----------------------------------------------------- portfolio section end ----------------------------------------------------- */
/* ----------------------------------------------------- quote section start ----------------------------------------------------- */
.quote-section {
  padding: 100px 0;
}

.quote-box {
  width: 60%;
  padding: 30px 10%;
  border: 3px solid var(--primary-color);
  border-radius: 15px;
  margin: 0 auto;
  position: relative;
  background: url(../images/quote-bg.png) center no-repeat;
  background-size: cover;
}

.quote-box.animation {
  animation: zoomIn 1.5s ease forwards;
}

.quote {
  font-size: 35px;
  font-weight: 900;
  opacity: .8;
  text-transform: capitalize;
}

.quote-box::before,
.quote-box::after {
  content: "\f10d";
  color: var(--primary-color);
  font-family: "FontAwesome";
  font-size: 60px;
  position: absolute;
  top: -25px;
  left: 5%;
}

.quote-box::after {
  content: "\f10e";
  top: auto;
  right: 5%;
  bottom: -25px;
  left: auto;
}
/* ----------------------------------------------------- quote section end ----------------------------------------------------- */
/* ----------------------------------------------------- contact section start ----------------------------------------------------- */
.contact {
  padding: 30px 0 0;
}

.contact .wrapper {
  width: 100%;
}

.contact .heading {
  border: none;
}

.contact-social li {
  flex-basis: 25%;
}

.contact-social-icon {
  width: 100%;
  padding: 0 20px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #333;
  color: #d6d6d6;
  font-size: 45px;
  font-weight: 600;
  transition: all .3s ease-in-out;
}

.contact-social-icon::after {
  content: "\f09b";
  padding: 0 10px;
  font-size: 50px;
  font-family: "FontAwesome";
}

.contact-social-icon.linkedin {
  background: #0077b5;
  color: #cce4f0;
}

.contact-social-icon.linkedin::after {
  content: "\f08c";
}

.contact-social-icon.twitter::after {
  content: "\f099";
}

.contact-social-icon.telegram::after {
  content: "\f2c6";
}

.contact-social-icon.twitter {
  background: #1da1f2;
  color: #d2ecfc;
}

.contact-social-icon.telegram {
  background: #006cff;
  color: #cce2ff;
}

.mail-btn {
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #10ba46;
  color: #d0fbdd;
  font-size: 30px;
  font-family: Cyborg;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.mail-btn::after {
  content: "\f0e0";
  margin-left: 20px;
  font-family: "FontAwesome";
}
/* ----------------------------------------------------- contact section end ----------------------------------------------------- */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
.heart-icon {
  display: inline-block;
  text-indent: -9999px;
}

.heart-icon::before {
  content: "\f004";
  margin: 5px 5px 0;
  font-size: 20px;
  font-family: "FontAwesome";
  float: left;
  text-indent: 0;
  animation: heartBeat 2s  infinite;
}
 
.copyright {
  padding: 25px 0;
  color: #10ba45;
  justify-content: center;
  font-family: Cyborg;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
}

 /*=================================
  footer styling ends here
  =================================*/
  /*------------------------------------- media query for desktop hover  starts here* -------------------------------------*/
  @media only screen and (min-width: 996px){
    .nav-item:hover {
      border-color: var(--white-color);
    }

    .visit-btn:hover {
      border-color: var(--primary-color);
      color: var(--primary-color);
      background: #454545;
    }

    .hand-icon:hover:before {
      scale: 1.05;
    }

    .contact-social-icon:hover,
    .mail-btn:hover {
      opacity: 0.8;
    }

    .nav-item:hover,
    .visit-btn:hover,
    .hand-icon:hover:before,
    .contact-social-icon:hover,
    .mail-btn:hover {
      transition: all .3s ease-in-out;
    }
  }

  /*------------------------------------- media query for desktop hover ends here* -------------------------------------*/
/*media query starts*/
/*------------------------------------- media query for 995px starts here* -------------------------------------*/
@media only screen and (max-width: 995px){
  .hamburger {
    display: block;
    z-index: 2;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
  }

  .hamburger.active .bar-one {
    transform: translateY(15px) rotate(45deg);
    transition: all .3s ease-in-out;
  }
  
  .hamburger.active .bar-three {
    transition: all .3s ease-in-out;
    transform: translateY(-11px) rotate(-45deg);
  }

  .hamburger.active .bar-two {
    opacity: 0;
  }

  .menu-toggle.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #1e2128;
  }

  .menu-toggle.active .nav-list {
    margin: 20px 0 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .menu-toggle.active .social-list {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .nav-item {
    text-shadow: none;
    color: var(--primary-color);
  }

  .header .social-item {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeInLeft .5s ease forwards;
  }

  .social-item.github {
    background-color: #333;
  }
  .social-item.linkedin {
    background-color: #0077b5;
    animation-delay: .5s;
  }
  
  .social-item.twitter {
    background-color: #1da1f2;
    animation-delay: 1s;
  }
  
  .social-item.telegram {
    background-color: #006cff ;
    animation-delay: 1.5s;
  }
  
  .header .contact-social-icon {
    width: max-content;
    height: 80px;
  }

  .home .wrapper {
    flex-direction: column;
  }

  .skill-list {
    width: 90%;
  }

  .work-list {
    width: 60%;
  }

  .work-list figure {
    max-height: 300px;
  }

  .work-para {
    font-size: 15px;
  }

  .hand-icon::before {
    font-size: 55px;
  }

  .quote-box {
    width: 80%;
  }
  
  .quote {
    font-size: 25px;
  }

  .contact-social {
    flex-wrap: wrap;
  }

  .contact-social li {
    flex-basis: 50%;
  }

  .copyright {
    font-size: 14px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 900;
  }

  .heart-icon::before {
    margin: 0 2px;
    font-size: 16px;
  }
}
/*------------------------------------- media query for 995px ends here* -------------------------------------*/
/*------------------------------------- media query for 768px starts here* -------------------------------------*/
@media only screen and (max-width:768px) {

  .contact-social-icon {
    font-size: 30px;
  }

  .contact-social-icon::after {
    font-size: 35px;
  }

  .hero-heading {
    font-size: 42px;
  }

  .skills {
    padding: 50px 0;
  }

  .skill-list {
    width: 100%;
    justify-content: unset;
  }

  .skill-item {
    flex: 0 1 30%;
  }

  .work-list {
    width: 75%;
  }

  .next-slide::before {
    font-size: 45px;
    right: 2%;
  }

  .prev-slide::before {
    font-size: 45px;
    left: 2%;
  }

  .quote-section {
    padding: 70px 0;
  }

  .quote-box {
    width: 100%;
  }

  .mail-btn {
    font-size: 25px;
  }

  .heart-icon {
    display: none;
  }
}
/*------------------------------------- media query for 768px ends here* -------------------------------------*/
/*------------------------------------- media query for 480px starts here* -------------------------------------*/
@media only screen and (max-width: 480px) {
  .heading {
    font-size: 20px;
  }

  .logo {
    padding: 8px 20px;
    font-size: 32px;
  }

  .bar {
    width: 35px;
    height: 5px;
  }

  .hero-heading {
    font-size: 26px;
    line-height: 40px;
  }

  .hero-para {
    font-size: 16px;
    line-height: 26px;
  }

  .skill-item {
    flex: 0 1 48%;
  }

  .hamburger.active .bar-one {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar-three {
    transform: translateY(-10px) rotate(-45deg);
  }

  .work-item figure {
    max-height: 225px;
  }

  .work-name {
    font-size: 22px;
  }

  .work-para {
    font-size: 12px;
    line-height: 18px;
  }

  .contact-social li {
    flex-basis: 100%;
  }
  
  .contact-social-icon {
    height: 70px;
    font-size: 25px;
  }

  .mail-btn {
    font-size: 18px;
  }

  .copyright {
    font-size: 13px;
    line-height: 18px;
  }

  .quote {
    font-size: 20px;
  }
}
/*------------------------------------- media query for 480x ends here* -------------------------------------*/
/*------------------------------------- media query for 375px starts here* -------------------------------------*/

/*------------------------------------- media query for 375pxx ends here* -------------------------------------*/
@media only screen and (max-width: 375px) {
  .work-list {
    width: 90%;
  }

  .quote-section {
    padding: 40px 0;
  }
}

 /*=================================
  animations  starts here
=================================*/
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes flipInY {
  0% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
    -webkit-transform: perspective(400px) rotateY(90deg);
    transform: perspective(400px) rotateY(90deg);
  }

40% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-transform: perspective(400px) rotateY(-20deg);
    transform: perspective(400px) rotateY(-20deg);
  }
60% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateY(10deg);
    transform: perspective(400px) rotateY(10deg);
  }
80% {
    -webkit-transform: perspective(400px) rotateY(-5deg);
    transform: perspective(400px) rotateY(-5deg);
  }
100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes jackInTheBox {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

14% {
    transform: scale(1.3);
  }

28% {
    transform: scale(1);
  }

42% {
    transform: scale(1.3);
  }

70% {
    transform: scale(1);
  }
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg) scale(1.1);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg) scale(1.2);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg) scale(1.3);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg) scale(1.2);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg) scale(1.1);
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

 /*=================================
  animations  ends here
=================================*/